<!doctype html>
<html>
<head>
	<title>O'Herin/Howe CS340-400</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="http://flip1.engr.oregonstate.edu:9090/style.css">
	{{#each jsscripts}}
	<script src="{{this}}"></script>
	{{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>