<div class="container-fluid">


<h4> Menu of Operations</h4>
<ul>
    <li>
        <a href='/user'>
            Show, Add, Delete, Update Users
        </a>
    </li>
    <li>
        <a href='/merchant'>
            Show, Add, Delete, Update Merchants
        </a>
    </li>
    <li>
        <a href='/listing'>
            Show, Add, Delete, Update Listings
        </a>
    </li>
    <li>
        <a href='/review'>
            Show, Add, Delete, Update Reviews
        </a>
    </li>
    <li>
        <a href='/helpful'>
            Show, Add, Delete, Update Reviews Marked Helpful (Many-to-Many table)
        </a>
    </li>
</ul>

<a href="https://tinyurl.com/ya6dxcce"><b>Click here to see our website mapped to the grading rubric.</b></a>

</div>


